<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div id="app">
        <h1> {{ title }} </h1>

        <!-- 'v-model' fica sempre esperando uma alteração ocorrer no input para alterar o valor de 'text' -->
        <input type="text" size="25" v-model="text" placeholder="Dígite seu site">

        <div v-if="text" class="outline">
            <img v-model="text" alt="QRcode">
        </div>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                title: "Gerador de QRcode",
                text: "www.google.com",
                qrcode: new QRious({size: 300})
            },
            computed: {
                newQRcode: function () {
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL()
                }
            },
        })
    </script>
</body>

</html>